# IntelliJ project files
.idea
*.iml
out
gen

# Node.js
node_modules
package-lock.json

# Project
project/.cache
.dev
!project/.next
project/.next/*
!project/.next/runtime.config.json
!project/.next/runtime.credentials.json
drop
drop.zip
.cache
