$colors-foo: pink;
$colors-bar: blue;

// Black & white
$colors-black: #000;
$colors-lightblack: #040404;
$colors-white: #fff;
$colors-lightwhite: #f5f5f5;

// Grays
$colors-gray: #ccc;
$colors-lightergray: #f7f7f7;
$colors-lightgray: #636363;
$colors-mediumgray: #555;
$colors-darkgray: #525249;
$colors-darkergray: #808080;

// Colors
$colors-blue: #004876;
$colors-lightblue: #00657f;
$colors-gold: #f8e71c;
$colors-green: #5e6338;
$colors-orange: #a2402a;
$colors-yellow: #cb8240;
$colors-red: #7f2427;
$colors-violet: #584444;

// Text shadows
$black-on-white-text: 0 2px 4px rgba(0, 0, 0, 0.5), 2px 2px 4px rgba(0, 0, 0, 0.5);
