@mixin aspect-ratio($width, $height, $displayType: block, $important:false) {
	/**
	 * Usage example: @include aspect-ratio(16, 9) or @include aspect-ratio(4, 3, inline-block)
	 * @param  {number} $width
	 * @param  {number} $height
	 * @param  {string} $displayType
	 */
	display: $displayType;
	position: relative;
	height: 0;

	@if $important {
		padding-top: ($height / $width) * 100% !important;
	}
	@else {
		padding-top: ($height / $width) * 100%;
	}

	> div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	> img {
		position: absolute;
		top: 0;
		left: 0;
	}

	> video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
